<div class="profile-form">

    <form class="user-form" [formGroup]="reactiveForm">
        <div class="user-profile">
            <div class="logo"></div>
            <div class="avatar"></div>
        </div>
        <p>Edit your profile</p>
        <div>
            <button type="button" (click)="goTo('introduction')">Go to Introduction</button>
        </div>
        <div class="user-info">
            <div>
                <small>Name</small><br>
                <span>{{(user$ | async)?.name}} {{(user$ | async)?.surname}}</span>
                <button type="submit" (click)="onNameEdit()" class="edit-btn">Edit</button>
            </div>
            <div *ngIf="!(user$ | async)?.name && !(user$ | async)?.surname">
                <input type="text" formControlName="name"/><br/>
                <input type="text" formControlName="surname"/>
            </div>
        </div>
        <div class="user-info">
            <div>
                <small>Username</small><br>
                <span>{{(user$ | async)?.displayName}}</span>
                <button type="submit" (click)="onDisplayNameEdit()" class="edit-btn">Edit</button>
            </div>
            <div *ngIf="!(user$ | async)?.displayName">
                <input type="text" formControlName="displayName" />
            </div>
        </div>
        <div class="user-info">
            <div>
                <small>Address</small><br>
                <span> {{(address$ | async)?.streetName}} {{(address$ | async)?.streetNumber}} </span>
                <button type="submit" (click)="onStreetEdit()" class="edit-btn">Edit</button>
                <button type="button" class="dlt-btn">Delete</button>
            </div>
            <div *ngIf="!(address$ | async)?.streetName && !(address$ | async)?.streetNumber">
                <input type="text" formControlName="streetName"/><br/>
                <input type="text" formControlName="streetNumber"/>
            </div>
        </div>
        <div class="user-info">
            <div>
                <small>City</small><br>
                <span>{{(address$ | async)?.suburb}}</span>
                <button type="submit" (click)="onLocationEdit()" class="edit-btn">Edit</button>
                <button type="button"  class="dlt-btn">Delete</button>
            </div>
            <div *ngIf="!(address$ | async)?.suburb">
                <input type="text" formControlName="suburb" />
            </div>
        </div>
        <div class="user-info">
            <div>
                <small>Postal Code</small><br>
                <span>{{(address$ | async)?.postalCode}}</span>
                <button type="submit" (click)="onPostalCodeEdit()"  class="edit-btn">Edit</button>
                <button type="button" class="dlt-btn">Delete</button>
            </div>
            <div *ngIf="!(address$ | async)?.postalCode">
                <input type="text" formControlName="postalCode" />
            </div>
        </div>
        <div class="user-info">
            <div>
                <small>E-mail</small><br>
                <span>{{(contact$ | async)?.email}}</span>
                <button type="submit" (click)="onEmailEdit()" class="edit-btn">Edit</button>
                <button type="button" class="dlt-btn">Delete</button>
            </div>
            <div *ngIf="!(contact$ | async)?.email">
                <input type="email" formControlName="email" />
            </div>
        </div>
        <div class="user-info">
            <small>Phone</small><br>
            <span>{{(contact$ | async)?.phoneNumber}}</span>
            <button type="submit" (click)="onPhoneEdit()" class="edit-btn">Edit</button>
            <button type="button" class="dlt-btn">Delete</button>
            <div *ngIf="!(contact$ | async)?.phoneNumber">
                <input type="tel" formControlName="phoneNumber" />
            </div>
        </div>
        <div class="user-info">
            <div>
                <small>Social Media</small><br>
                <span>{{(socialNetwork$ | async)?.id}}</span>
                <button type="submit" (click)="onNetworkEdit()" class="edit-btn">Edit</button>
                <button type="button" class="dlt-btn">Delete</button>
            </div>
            <div *ngIf="!(socialNetwork$ | async)?.id">
                <input type="text" formControlName="network" />
            </div>
        </div>
        <div class="user-info">
            <a [href]="(socialNetwork$ | async)?.url" class="socials"></a>
        </div>
    </form>
    <footer>
        <button class="second__button logout-btn" type="button" (click)="logout()" routerLink="../username">
            Logout
        </button>
    </footer>
</div>
